@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header, .footer{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.header > ul.left-links, .header > ul.right-links, .footer > ul.left-links, .footer > ul.right-links {
  display: flex;
  gap: 20px;
  padding: 0 1.2rem;
}
a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}
ul {
  list-style: none;
}
.footer {
  background-color: #eeeeee;
  padding: 0.2rem;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button {
  padding: 0.5rem;
}